{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "testing-library"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint",
    "ecmaVersion": 2018
  },
  "overrides": [
    {
      "files": ["webpack-dev.config.js", "webpack-prod.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": ["off"]
      }
    },
    {
      "files": ["**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "testing-library/no-node-access": ["off"]
      }
    }
  ]
}
